@import '../../globalStyles//globalStyles.scss';

.footer {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: $text-black;
    color: $text-white;
    overflow: hidden;

    .infomation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        @media screen and (max-width: $breakpoint-sm) {
            flex-direction: column;
        }
    
        @media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg){
            flex-direction: column;
        }

        .address {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 63px;

            span:nth-child(1) {
                font-size: 40px;

                @media screen and (max-width: $breakpoint-sm) {
                    font-size: 30px;
                }
            }

            span:nth-child(2) {
                font-size: 25px;
                font-weight: 500;
                margin-top: 20px;

                @media screen and (max-width: $breakpoint-sm) {
                    font-size: 20px;
                }
            }

            span:nth-child(3) {
                font-weight: 300;
                color: $text-gray;
                margin-top: 10px;
            }
        }

        .logo {
            margin-top: 63px;
            width: 150px;
            display: flex;
            flex-direction: column;

            img {
                width: 100%;
            }

            span {
                text-align: center;
                color: $text-gray;
                margin-top: 20px;
            }
        }

        .contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 63px;

            span:nth-child(1) {
                font-size: 40px;

                @media screen and (max-width: $breakpoint-sm) {
                    font-size: 30px;
                }
            }

            span:nth-child(2) {
                font-size: 25px;
                font-weight: 500;
                margin-top: 20px;

                @media screen and (max-width: $breakpoint-sm) {
                    font-size: 20px;
                }
            }

            span:nth-child(3) {
                color: $text-gray;
                margin-top: 10px;
            }

            span:nth-child(4) {
                color: $text-gray;
                margin-top: 5px;
            }

        }
    }

    .copyRight {
        color: $text-gray;
        text-align: left;
        font-size: 12px;
        margin-left: 10px;
        margin-top: 20px;
        margin-bottom: 10px;

        @media screen and (max-width: $breakpoint-sm) {
            margin-bottom: 10px;
            text-align: center;
        }
    
    }
}